<footer class="bg-dark text-light py-3 mt-auto " style="margin-top: 1em;">
    <div class="container text-center" style="martin-top: 1em;">
        <p class="mb-0 text-white">© 2024 CampConnect. All Rights Reserved.</p>
    </div>
</footer>
